$mainColor: rgb(239, 71, 111)
$whiteColor: #E3E4DB
$mainFont: a-otf-ud-reimin-pr6n, sans-serif

$navigationSmallWrapperHeight: 32px
$mainWidth: 1200px

$userProfileContainerWidth: 360px

.mainContent 
  width: 100%
  background-color: $whiteColor
  .wrapper
    position: relative
    height: inherit
    max-width: $mainWidth
    margin: 30px auto
    display: flex
    align-items: flex-start
    justify-content: space-between
    .userProfileContainer
      width: 360px
      background-color: white
      .topWrapper
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        .line 
          border-top: 1px solid lightgray
          width: 80%
        .profileImage
          border-radius: 50%
          width: 100px
          height: 100px
          margin-top: 36px
          margin-bottom: 24px
        .username
    .postContainer
      width: $mainWidth - $userProfileContainerWidth - 36px
      background-color: white
      .line 
        width: 100%
        border-top: 1px solid lightgray
      .post
        margin: 16px 12px
        .authorContainer
          margin: 6px 0
          display: flex
          justify-content: flex-start
          align-items: flex-end
          img
            width: 28px 
            height: 28px
            border-radius: 50%
          .username 
            margin-left: 10px
            color: #333333
          .date 
            margin-left: 10px
            color: gray
            font-size: 0.8em
        span 
          display: flex
          align-items: flex-end
          justify-content: flex-start
          p 
            color: gray
        p 
          color: #333333
        .editor 
          width: 100%
          height: auto
          border: none
          pre 
            padding: 16px
            background-color: #eeeeee
            color: #333333
        .copyButton
          background-color: $mainColor
          color: white
          padding: 5px
          border-radius: 10%
            
